{% extends "layout.html" %}

{% block title %}
    Participate
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>contents</th>
                <th>location</th>
                <th>date</th>
                <th>starttime</th>
                <th>endtime</th>
                <th>number of participants</th>
                <th>participate</th>
            </tr>
        </thead>

        <tbody>
            {% for row in rows %}
                <tr>
                    <td>{{  row['contents']  }}</td>
                    <td>{{  row['location']  }}</td>
                    <td>{{  row['date']  }}</td>
                    <td>{{  row['start_time']  }}</td>
                    <td>{{  row['end_time']  }}</td>
                    <td>{{  row['participants']  }}</td>
                    {% if row['contents'] in items %}
                        <td>participate</td>
                    {% else %}
                        <td>absence</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <form action="/participate" method="post">
        <div class="form-group">
            <select class="form-control" name="participate">
                <option disabled="" selected="" value="">participate</option>
                {% for participate in participates %}
                    <option value="{{ participate['contents'] }}">{{ participate['contents'] }}</option>
                {% endfor %}
            </select>
            <button class="btn btn-primary" type="submit">participate</button>

        </div>

        <div class="form-group">
            <select class="form-control" name="absence">
                <option disabled="" selected="" value="">absence</option>
                {% for absence in absences %}
                    <option value="{{ absence['contents'] }}">{{  absence['contents'] }}</option>
                {% endfor %}
            </select>
            <button class="btn btn-primary" type="submit">absence</button>

        </div>

    </form>
{% endblock %}