{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <!--contents location date start_time end_time participants-->
                <th>contents</th>
                <th>location</th>
                <th>date</th>
                <th>starttime</th>
                <th>endtime</th>
                <th>number of participants</th>
            </tr>
        </thead>
        
        <tbody>
            {% for row in rows %}
                <tr>
                    <td>{{  row[1]  }}</td>
                    <td>{{  row[2]  }}</td>
                    <td>{{  row[3]  }}</td>
                    <td>{{  row[4]  }}</td>
                    <td>{{  row[5]  }}</td>
                    <td>{{  row[6]  }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
